.avatar {
   width: 200px;
   height: 200px;
   background: aqua;
   object-fit: cover;
   border-radius: 50%;
 }
 
 .avatar_img {
   width: 100%;
   height: 100%;
   border-radius: 50%;
 }

 .avatar img{
  object-fit: cover;
  border-radius: 50%;
 }
 
 .wrapper {
   display: flex;
   gap: 150px;
 }
 
 .heading {
   width: 100%;
 }
 
 .info {
   flex: 1;
 }
 
 .info_top {
   display: flex;
   justify-content: space-between;
 }
 
 .edit_button {
   height: fit-content;
 }
 
 .info_bottom {
   margin: 50px 0;
 }
 
 .save_button {
   padding: 15px 30px;
 }
 
 .page_title {
   margin-bottom: 30px;
   grid-area: head;
 }
 
 .uploaded_image {
   width: 200px;
   height: 200px;
 }
 
 .tags_list {
   display: flex;
   flex-wrap: wrap;
 }
 
 .books {
   flex: 1;
 }
 
 .info_section__label{
  font-weight: 600;
  color: #34343d;
  text-transform: capitalize;
 }

 .info_section{
  margin-bottom: 30px;
 }

 .info_content{
  margin-top: 10px;
 }